{% extends 'base.html' %}
{% load static %}

{% block title %}О&nbsp;Megano{% endblock %}

{% block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">О&nbsp;Megano</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>О&nbsp;нас</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Доставка</strong>
                <p class="media-text">Доставка по всей России</p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Оплата</strong>
                <p class="media-text">Оплата банковской картой</p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/support.svg' %}" alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Обращения</strong>
                <p class="media-text">Быстрая служба поддержки</p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Гарантия</strong>
                <p class="media-text">Широкий ассортимент и высокое качество</p>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <article class="Article">
            <div class="Article-section">
              <div class="row row_verticalCenter row_maxHalf">
                <div class="row-block">
                  <h2>Почему Megano?</h2>
                  <p>Megano — российский маркетплейс. Помимо торговой площадки, компания развивает экспресс-доставку товаров повседневного спроса, доставку товаров из-за рубежа, финансовые сервисы, а также бронирование авиа и железнодорожных билетов, отелей и туров. Компания работает в России, Армении, Белоруссии, Казахстане, Китае, Киргизии, Турции и Узбекистане.</p>
                  <p>Megano использует склады и сортировочные центры для хранения и доставки товаров. На сентябрь 2023 года маркетплейс управлял 2 млн м² логистической инфраструктуры в России и СНГ. Сеть пунктов выдачи развивается по партнёрской модели, на сентябрь 2023 года работает более 40 тысяч точек.</p>
                </div>
                <div class="row-block">
                  <div class="pict">
                    <img src="{% static 'assets/img/content/home/slider.png' %}" alt="slider.png"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="Article-section">
              <div class="row row_verticalCenter row_maxHalf">
                <div class="row-block">
                  <div class="pict">
                    <img src="{% static 'assets/img/content/home/bigGoods.png' %}" alt="bigGoods.png"/>
                  </div>
                </div>
                <div class="row-block">
                  <h2>История Megano</h2>
                  <p>Megano был основан в 1998 году как интернет-магазин по продаже книг российской компанией-разработчиком программного обеспечения Reksoft. Вскоре компания расширила свой ассортимент, включив в него CD- и DVD-диски, а затем стала продавать широкий спектр товаров, от одежды до электроники. В 2012 году компания приобрела интернет-магазин обуви и в 2015 году продала его интернет-магазину модной одежды. В 2014 году компания приобрела долю в крупнейшем российском интернет-магазине электронных книг.</p>
                  <p>В 2019 году Megano сообщил о стадии "гиперроста", поскольку продажи за год выросли на 93% до 1,1 миллиарда долларов, а объем заказов увеличился более чем в два раза и составил 32,2 миллиона. Оборот компании по валовому товарообороту (GMV) во втором квартале 2020 года вырос на 188% по сравнению с аналогичным периодом прошлого года и достиг 77,4 миллиарда рублей к 2020 году, увеличившись на 152% по сравнению с аналогичным периодом прошлого года. По словам финансового директора Megano, пандемия коронавируса сформировала у российских потребителей новую привычку совершать покупки онлайн.</p>
                  <p>По итогам 2022 года занимает пятое место по обороту среди российских ретейлеров. Оборот за первые 9 месяцев 2023 года составил 1,12 трлн рублей — маркетплейс доставил 639 млн заказов для 42,4 млн покупателей в России и СНГ. Ассортимент составил 250 млн товаров, число продавцов на платформе — более 400 тысяч.</p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
{% endblock %}