{% extends 'base.html' %}
{% load static %}
{% load spurl %}

{% block title %}Каталог Megano{% endblock %}

{% block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Каталог Megano</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Каталог</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Фильтр</strong>
            </header>
            <div class="Section-columnContent">
              <form class="form" method="get">{% csrf_token %}
                <div class="form-group">
                  <div class="range Section-columnRange">
                    <input class="range-line" id="price" name="price" type="text" data-type="double"
                           data-min="{{ min_price }}" data-max="{{ max_price }}"
                           data-from="{{ price_from }}" data-to="{{ price_to }}"/>
                    <div class="range-price">Цена:&#32;
                      <div class="rangePrice"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="Название"/>
                </div>
                <div class="form-group">
                  <p><b>БРЕНДЫ:</b></p>
                  {% for shop in shops %}
                  <label class="toggle">
                    <input type="checkbox" value="{{ shop }}" name="shops"/>
                    <span class="toggle-box"></span>
                    <span class="toggle-text">{{ shop }}</span>
                  </label>
                  {% endfor %}
                </div>
                <div class="form-group">
                  <div class="buttons">
                    <button class="btn btn_square btn_dark btn_narrow" type="submit">Применить</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Sort">
            <div class="Sort-title">Сортировать по:</div>
            <div class="Sort-variants">
              <a class="Sort-sortBy" href="{% spurl base=request.get_full_path set_query='order_by=orders_amount' toggle_query='sort=ascending,descending'%}">Популярности</a>
              <a class="Sort-sortBy" href="{% spurl base=request.get_full_path set_query='order_by=price' toggle_query='sort=ascending,descending'%}">Цене</a>
              <a class="Sort-sortBy" href="{% spurl base=request.get_full_path set_query='order_by=reviews_amount' toggle_query='sort=ascending,descending'%}">Отзывам</a>
              <a class="Sort-sortBy" href="{% spurl base=request.get_full_path set_query='order_by=added_at' toggle_query='sort=ascending,descending'%}">Новизне</a>
            </div>
          </div>
          <div class="Cards">
            {% for product in page_obj %}
            <div class="Card">
              <a class="Card-picture" href="{{ product.get_absolute_url }}" style="background-image: url('{{ product.images.first.image.url }}')"></a>
              <div class="Card-content">
                <strong class="Card-title">
                  <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">{{ product.price }}&nbsp;₽</span></div>
                  <div class="Card-category">
                    <span><b>Отзывы: {{ product.reviews_amount }}</b></span>
                  </div>
                  <div class="Card-hover">
                    <a class="Card-btn" href="{% url 'add_product' product.id %}">
                      <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <p>По вашему запросу товаров сейчас нет</p>
            {% endfor %}
          </div>
          <div class="Pagination">
            <div class="Pagination-ins">
              {% if page_obj.has_previous %}
              <a class="Pagination-element" href="{% spurl base=request.get_full_path set_query='page={{ page_obj.previous_page_number }}'%}">
                <img src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
              </a>
              {% endif %}
              {% for number in paginator.page_range %}
                {% if number == page_obj.number %}
                <a class="Pagination-element Pagination-element_current" href="{% spurl base=request.get_full_path set_query='page={{ number }}'%}">
                  <span class="Pagination-text">{{ number }}</span>
                </a>
                {% else %}
                <a class="Pagination-element" href="{% spurl base=request.get_full_path set_query='page={{ number }}'%}">
                  <span class="Pagination-text">{{ number }}</span>
                </a>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <a class="Pagination-element" href="{% spurl base=request.get_full_path set_query='page={{ page_obj.next_page_number }}'%}">
                <img src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}