{% extends 'base.html' %}
{% load static %}
{% load filter_tags %}

{% block title %}{{ product.name }} Megano{% endblock %}

{% block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Товар Megano</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Товар</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <div class="ProductCard-photo">
                <img src="{{ images.first.image.url }}" alt="product image"/>
              </div>
              <div class="ProductCard-picts">
                {% for image in images %}
                <a class="ProductCard-pict" href="{{ image.image.url }}">
                  <img src="{{ image.image.url }}" alt="product image"/>
                </a>
                {% endfor %}
              </div>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h2 class="ProductCard-title">{{ product.name }}</h2>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                    <div class="ProductCard-price">{{ product.price }}&thinsp;₽</div>
                  </div>
                </div>
              </div>
              <div class="ProductCard-text">
                <p>{{ product.description|truncatewords:100 }}</p>
              </div>
              <div class="ProductCard-cart">
                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                  <div class="Amount Amount_product">
                    <button class="Amount-remove" type="button"></button>
                    <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                    <button class="Amount-add" type="button"></button>
                  </div>
                </div>
                <div class="ProductCard-cartElement">
                  <a class="btn btn_primary" href="#">
                    <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/>
                    <span class="btn-content">В корзину</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="Tabs Tabs_default">
            <div class="Tabs-links">
              <a class="Tabs-link_ACTIVE Tabs-link" href="#description"><span>Описание</span></a>
              <a class="Tabs-link" href="#addit"><span>Характеристики</span></a>
              <a class="Tabs-link" href="#reviews"><span>Отзывы ({{ reviews_amount }})</span></a>
            </div>
            <div class="Tabs-wrap">
              <div class="Tabs-block" id="description">
                <p>{{ product.description|linebreaks }}</p>
              </div>
              <div class="Tabs-block" id="sellers">
                <div class="Categories Categories_product"></div>
              </div>
              <div class="Tabs-block" id="addit">
                <div class="Product-props">
                  {% for parameter in parameters %}
                  <div class="Product-prop">
                    <strong>{{ parameter|split|first }}</strong>
                    <span>{{ parameter|split|last }}</span>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="Tabs-block" id="reviews">
                <header class="Section-header">
                  <h3 class="Section-title">Отзывы</h3>
                </header>
                <div class="Comments">
                  {% include reviews_template %}
                </div>
                <header class="Section-header Section-header_product">
                  <h3 class="Section-title">Написать отзыв</h3>
                </header>
                {% if request.user.is_authenticated %}
                <div class="Tabs-addComment">
                  {% if messages %}
                    {% for message in messages %}
                    <div style="color: #0063d1">{{ message }}</div>
                    {% endfor %}
                  {% endif %}
                  <form class="form" method="post">{% csrf_token %}
                    <div class="form-group">
                      <textarea class="form-textarea" name="review" id="review" placeholder="Расскажите о товаре"></textarea>
                    </div>
                    <div class="form-group">
                      <button class="btn btn_muted" type="submit">Отправить отзыв</button>
                    </div>
                  </form>
                </div>
                {% else %}
                <p>
                  Чтобы оставить отзыв, необходимо
                  <a class="ControlPanel-title" href="{% url 'login' %}">войти</a> или
                  <a class="ControlPanel-title" href="{% url 'register' %}">зарегистрироваться</a>
                </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>$.endlessPaginate();</script>
{% endblock %}