{% extends 'base.html' %}
{% load static %}
{% load filter_tags %}
{% load base_tags %}

{% block title %}Распродажа{% endblock %}

{% block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Распродажа Megano</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a class="menu-link" href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Распродажа</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Cards Cards_blog">
          {% for product in sale_products %}
          <div class="Card">
            <a class="Card-picture" href="{{ product.get_absolute_url }}" style="background-image: url('{{ product.images.first.image.url }}')"></a>
            <div class="Card-date">
              <strong class="Card-date-number">{% date_number %}</strong>
              <span class="Card-date-month">{% date_month %}</span>
            </div>
            <div class="Card-date Card-date_to">
              <strong class="Card-date-number">{% date_number %}</strong>
              <span class="Card-date-month">{% date_month %}</span>
            </div>
            <div class="Card-content" style="text-align: center">
              <strong class="Card-title">
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
              </strong>
              <div class="Card-description">
                <div class="Card-cost">
                  <span class="Card-price" style="color: red">{{ product.price }}&nbsp;₽</span>
                  <span class="Card-price"><del>{{ product.price|price_30 }}&nbsp;₽</del></span>
                </div>
                <div class="Card-category">{{ product.category }}</div>
                <div class="Card-hover">
                  <a class="Card-btn" href="{% url 'add_product' product.id %}">
                    <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}