amqp==5.2.0
asgiref==3.8.1
billiard==3.6.4.0
celery==5.2.7
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==4.0.8
django-el-pagination==4.0.0
django-spurl==0.6.8
kombu==5.3.7
Pillow==9.3.0
prompt_toolkit==3.0.47
psycopg2-binary==2.9.5
pytz==2024.1
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
URLObject==2.4.3
vine==5.1.0
wcwidth==0.2.13
