{% extends 'base.html' %}
{% load static %}

{% block title %}Профиль Megano{% endblock %}

{% block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Профиль</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Профиль</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Навигация</strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'account' %}">Личный кабинет</a>
                  </li>
                  <li class="menu-item_ACTIVE menu-item">
                    <a class="menu-link" href="{% url 'profile' %}">Профиль</a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">История заказов</a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">История просмотра</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Profile">
            <form class="form Profile-form" method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="form-error">
                {{ profile_form.non_field_errors }}
                {{ password_form.non_field_errors }}
              </div>
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="{{ profile_form.avatar.id_for_label }}">{{ profile_form.avatar.label }}</label>
                    <div class="Profile-avatar">
                      <div class="Profile-img"><img src="{{ request.user.avatar.url }}" alt="avatar"/></div>
                      <label class="Profile-fileLabel" for="{{ profile_form.avatar.id_for_label }}">Выберите аватар</label>
                      <input class="Profile-file form-input" id="{{ profile_form.avatar.id_for_label }}" name="avatar" type="file"/>
                    </div>
                    {{ profile_form.avatar.errors }}
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="{{ form.first_name.id_for_label }}">{{ profile_form.first_name.label }}</label>
                    {{ profile_form.first_name }}
                    {{ profile_form.first_name.errors }}
                  </div>
                </div>
                <div class="row-block">
                  {% for field in profile_form.visible_fields|slice:"1:3" %}
                  <div class="form-group">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <div class="form-error">
                      <ul class="error-list">
                      {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                      {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                  {% endfor %}
                  {% for field in password_form %}
                  <div class="form-group">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <div class="form-error">
                      <ul class="error-list">
                      {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                      {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                  {% endfor %}
                  <div class="form-group">
                    <div class="Profile-btn">
                      <button class="btn btn_success" type="submit">Сохранить</button>
                    </div>
                  </div>
                  {% if messages %}
                    {% for message in messages %}
                    <div class="Profile-success">{{ message }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'assets/js/jquery.maskedinput.min.js' %}"></script>
  <script>
  $(function() {
    $("#id_phone_number").mask("+7 (999) 999-99-99");
  });
  </script>
{% endblock %}