{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина Megano{% endblock %}

{% block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Корзина</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <form class="form Cart" method="post">{% csrf_token %}
          {% for item in cart %}
          {% with product=item.product %}
          <div class="Cart-product">
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_pict">
                <a class="Cart-pict" href="{{ product.get_absolute_url }}">
                  <img class="Cart-img" src="{{ product.images.first.image.url }}" alt="product image"/>
                </a>
              </div>
              <div class="Cart-block Cart-block_info">
                <a class="Cart-title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
              </div>
              <div class="Cart-block Cart-block_price">
                <div class="Cart-price">{{ product.price }}&nbsp;₽</div>
              </div>
            </div>
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_amount">
                <div class="Cart-amount">
                  <div class="Amount">
                    <button class="Amount-remove" type="button" onclick="location.href='{% url 'reduce_product' product.id %}'"></button>
                    <input class="Amount-input form-input" name="amount" type="text" value="{{ item.quantity }}""/>
                    <button class="Amount-add" type="button" onclick="location.href='{% url 'add_product' product.id %}'"></button>
                  </div>
                </div>
              </div>
              <div class="Cart-block Cart-block_delete">
                <a class="Cart-delete" href="{% url 'remove_product' product.id %}">
                  <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg"/>
                </a>
              </div>
            </div>
          </div>
          {% endwith %}
          {% empty %}
          <p>В корзине пока пусто</p>
          {% endfor %}
          <div class="Cart-total">
            <div class="Cart-block Cart-block_total">
              <strong class="Cart-title">Итого:</strong>
              <span class="Cart-price">{{ cart.get_total_price }}&thinsp;₽</span>
            </div>
            <div class="Cart-block">
              <a class="btn btn_success btn_lg" href="{% url 'create_order' %}">Оформить заказ</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}