{% extends 'base.html' %}
{% load static %}

{% block title %}Заказ №{{ order.id }} Megano{% endblock %}

{% block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Заказ №{{ order.id }}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item"><a href="{% url 'order_history' %}">История заказов</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Заказ №{{ order.id }}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Section-content">
          <div class="Orders"></div>
          <div class="Order">
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info Order-info_date">
                      <div class="Order-infoType">Дата заказа:</div>
                      <div class="Order-infoContent">{{ order.created_at|date:"d.m.y" }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">ФИО:</div>
                      <div class="Order-infoContent">{{ user.first_name }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Телефон:</div>
                      <div class="Order-infoContent">{{ user.phone_number }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">E-mail:</div>
                      <div class="Order-infoContent">{{ user.email }}</div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">Тип доставки:</div>
                      <div class="Order-infoContent">{{ order.delivery }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Город:</div>
                      <div class="Order-infoContent">{{ order.city }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Адрес:</div>
                      <div class="Order-infoContent">{{ order.address }}</div>
                    </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">Оплата:</div>
                      <div class="Order-infoContent">{{ order.get_payment_display }}</div>
                    </div>
                    <div class="Order-info Order-info_status">
                      <div class="Order-infoType">Статус:</div>
                      <div class="Order-infoContent">{{ order.get_status_display }}</div>
                    </div>
                    {% if order.payment_error != 0 %}
                    <div class="Order-info Order-info_error">
                      <div class="Order-infoType">Оплата не прошла:</div>
                      <div class="Order-infoContent">{{ order.get_payment_error_display }}</div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="Cart Cart_order">
                {% for item in order_items %}
                {% with product=item.product %}
                <div class="Cart-product">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict">
                      <a class="Cart-pict" href="{{ product.get_absolute_url }}">
                        <img class="Cart-img" src="{{ product.images.first.image.url }}" alt="product image"/>
                      </a>
                    </div>
                    <div class="Cart-block Cart-block_info">
                      <a class="Cart-title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    </div>
                    <div class="Cart-block Cart-block_price">
                      <div class="Cart-price">{{ product.price }}&nbsp;₽</div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_amount">{{ item.quantity }}&nbsp;шт.</div>
                  </div>
                </div>
                {% endwith %}
                {% endfor %}
                <div class="Cart-total">
                  <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">Итого:<span class="Cart-price">{{ order.cost }}&nbsp;₽</span></strong>
                  </div>
                  {% if order.status == 'not_paid' %}
                  <div class="Cart-block">
                    <a class="btn btn_primary btn_lg" href="{% url 'payment' order.id %}">Оплатить</a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}