{% extends 'base.html' %}
{% load static %}

{% block title %}Оформление заказа Megano{% endblock %}

{% block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Оформление заказа</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оформление заказа</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Прогресс заполнения</strong>
            </header>
            <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                <li class="menu-item_ACTIVE menu-item">
                  <a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#step2">Шаг 2. Способ доставки</a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <form class="form" method="post">{% csrf_token %}
            <div class="form-error">
              {{ order_form.non_field_errors }}
            </div>
            <div class="Order-block Order-block_OPEN" id="step1">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 1. Параметры пользователя</h2>
                <div class="form-error">
                  {{ form.non_field_errors }}
                </div>
              </header>
              <div class="row">
                <div class="row-block">
                  {% for field in form.visible_fields|slice:":3" %}
                  <div class="form-group">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <div class="form-error">
                      <ul class="error-list">
                      {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                      {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
                {% if not request.user.is_authenticated %}
                <div class="row-block">
                  {% for field in form.visible_fields|slice:"3:5" %}
                  <div class="form-group">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <div class="form-error">
                      <ul class="error-list">
                      {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                      {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                  {% endfor %}
                  <div class="form-group">
                    <a class="btn btn_muted Order-btnReg" href="{% url 'login' %}?next={% url 'order_create' %}">Я уже зарегистрирован</a>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="Order-footer">
                <a class="btn btn_success Order-next" href="#step2">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step2">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 2. Способ доставки</h2>
              </header>
              <div class="form-group">
                {% for radio in order_form.delivery %}
                <div>
                  <label class="toggle" for="{{ radio.id_for_label }}">
                    {{ radio.tag }}
                    <span class="toggle-box"></span><span class="toggle-text">{{ radio.choice_label }}</span>
                  </label>
                </div>
                {% endfor %}
              </div>
              {% for field in order_form.visible_fields|slice:":2" %}
              <div class="form-group">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="form-error">
                  <ul class="error-list">
                  {% for error in field.errors %}
                    <li>{{ error|escape }}</li>
                  {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </div>
              {% endfor %}
              <div class="Order-footer">
                <a class="btn btn_success Order-next" href="#step3">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step3">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 3. Способ оплаты</h2>
              </header>
              <div class="form-group">
                {% for radio in order_form.payment %}
                <div>
                  <label class="toggle" for="{{ radio.id_for_label }}">
                    {{ radio.tag }}
                    <span class="toggle-box"></span><span class="toggle-text">{{ radio.choice_label }}</span>
                  </label>
                </div>
                {% endfor %}
              </div>
              <div class="Order-footer">
                <a class="btn btn_success Order-next" href="#step4">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step4">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 4. Подтверждение заказа</h2>
              </header>
              <!--+div.Order.-confirmation-->
              <div class="Order-infoBlock">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <div class="Order-info">
                        <div class="Order-infoType">ФИО:</div>
                        <div class="Order-infoContent order-name"></div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Телефон:</div>
                        <div class="Order-infoContent order-phone"></div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">E-mail:</div>
                        <div class="Order-infoContent order-email"></div>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">Тип доставки:</div>
                        <div class="Order-infoContent order-delivery"></div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Город:</div>
                        <div class="Order-infoContent order-city"></div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Адрес:</div>
                        <div class="Order-infoContent order-address"></div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">Оплата:</div>
                        <div class="Order-infoContent order-payment"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Cart Cart_order">
                  {% for item in cart %}
                  {% with product=item.product %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict">
                        <a class="Cart-pict" href="{{ product.get_absolute_url }}">
                          <img class="Cart-img" src="{{ product.images.first.image.url }}" alt="product image"/>
                        </a>
                      </div>
                      <div class="Cart-block Cart-block_info">
                        <a class="Cart-title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        <div class="Cart-price">{{ item.price }}&nbsp;₽</div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_amount">{{ item.quantity }}&nbsp;шт.</div>
                    </div>
                  </div>
                  {% endwith %}
                  {% endfor %}
                  <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">Итого:</strong>
                      <span class="Cart-price">{{ cart.get_total_price }}&nbsp;₽</span>
                    </div>
                    <div class="Cart-block">
                      <button class="btn btn_primary btn_lg" type="submit">Оплатить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  {{ block.super }}
  <script>
  $(function() {
    $("#id_phone_number").mask("+7 (999) 999-99-99");
  });
  </script>
{% endblock %}