{% extends 'base.html' %}
{% load static %}

{% block title %}Оплата Megano{% endblock %}

{% block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          {% if order.status == 'wait' %}
          <h1 class="Middle-title">Ожидание оплаты</h1>
          {% else %}
          <h1 class="Middle-title">Оплата</h1>
          {% endif %}
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a></li>
            {% if order.status == 'wait' %}
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Ожидание оплаты</span></li>
            {% else %}
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оплата</span></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        {% if order.status == 'not_paid' %}
        <form class="form Payment" method="post">{% csrf_token %}
          <div class="Payment-card">
            <div class="form-group">
              <label class="form-label">Номер карты</label>
              <input class="form-input Payment-bill" id="numero1" name="numero1" type="text" placeholder="9999 9999" data-mask="9999 9999" data-validate="require pay"/>
            </div>
            {% if order.payment == 'account' %}
            <div class="form-group">
              <a class="btn btn_success Payment-generate" href="#">Сгенерировать случайный счет</a>
            </div>
            {% endif %}
          </div>
          <div class="Payment-pay">
            <button class="btn btn_primary">Оплатить</button>
          </div>
        </form>
        {% else %}
        <div class="ProgressPayment">
          <div class="ProgressPayment-title">Ждем подтверждения оплаты платежной системой</div>
          <div class="ProgressPayment-icon">
            <div class="cssload-thecube">
              <div class="cssload-cube cssload-c1"></div>
              <div class="cssload-cube cssload-c2"></div>
              <div class="cssload-cube cssload-c4"></div>
              <div class="cssload-cube cssload-c3"></div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}